body
  nav#nav
    height: 100px
    .nav-wrapper
      button
        height: 100%

  width: 100%
  overflow: hidden
  #searchBtn
    font-size: 40px
    padding: 40px
    height: 140px

  #searchResult
    margin: 20px 0 50px 0
    border: solid gray 10px
    height: 50%
    overflow: scroll

  #carousel-wrapper
    position: relative
    width: 100%
    height: 100%
    overflow: hidden
    .carouselPanel
      position: absolute
      width: 100%
      height: 100%
    #motorControlPanel
      button
        height: 200px

  #bluetoothpanel
  //position: absolute
  //width: 100%
  //height: 100%

  #motorControlPanel
  //position: absolute
  //width: 100%
  //height: 100%
    