body
  nav#nav
    height: 100px

  #searchBtn
    font-size: 40px
    padding: 40px
    height: 140px

  #searchResult
    margin: 20px 0 50px 0
    border: solid gray 10px

  #blueToothList
    overflow: scroll
    height: 50%
